---
import { Button } from 'studiocms:ui/components/button';
import { Icon } from 'studiocms:ui/components/icon';
import GitHubLogo from '@/assets/github.svg';
import LogoAdaptive from '@/assets/logo-adaptive.svg';
import { getStudioCMSStars } from '../utils/stats-helpers';
const stars = await getStudioCMSStars();
---

<nav data-stars={stars || '370'}>
  <div class="nav-content">
    <a href="/" class="nav-brand">
      <LogoAdaptive height={36} width={34.32} />
      <span>StudioCMS</span>
    </a>
    <div class="nav-links">
      <a href="/blog" style="--i: 0;">Blog</a>
      <a href="https://docs.studiocms.dev" style="--i: 1;">Docs</a>
      <a href="/ecosystem" style="--i: 2;">Ecosystem</a>
      <Button href='https://github.com/withstudiocms' class="mobile-gh-button" fullWidth>
        <GitHubLogo width={24} height={24} slot="start-content" />
        <span>{stars || '370+'}</span>
      </Button>
    </div>
    <div>
      <Button href='https://github.com/withstudiocms' class="gh-button">
        <GitHubLogo width={24} height={24} slot="start-content" />
        <span>{stars || '370+'}</span>
      </Button>
      <Button id='mobile-nav-toggle'>
        <slot name="start-content">
          <Icon name="heroicons:bars-3" width={24} height={24} class="bars" />
          <Icon name="heroicons:x-mark" width={24} height={24} class="x-mark" />
        </slot>
      </Button>
    </div>
  </div>
</nav>
<script>
  const mobileNavToggle = document.getElementById('mobile-nav-toggle')!;
  const navLinks = document.querySelector('.nav-links')!;

  mobileNavToggle.addEventListener('click', () => {
    navLinks.classList.toggle('open');
    mobileNavToggle.classList.toggle('open');

    if (navLinks.classList.contains('open')) {
      mobileNavToggle.setAttribute('aria-expanded', 'true');
      mobileNavToggle.setAttribute('aria-label', 'Close menu');
    } else {
      mobileNavToggle.setAttribute('aria-expanded', 'false');
      mobileNavToggle.setAttribute('aria-label', 'Open menu');
    }
    
    document.body.style.overflow = navLinks.classList.contains('open') ? 'hidden' : '';
  });
</script>
<style>
  nav {
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    background-color: color-mix(in srgb, var(--background-step-1) 50%, transparent 50%);
    backdrop-filter: blur(2px);
    border-bottom: 1px solid var(--border);
    z-index: 50;
  }

  .nav-content {
    width: 100%;
    max-width: var(--page-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
  }

  .nav-brand span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-normal);
  }

  .nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--text-normal);
    transition: all .15s ease;
  }

  .nav-links a:hover {
    color: var(--primary-hover);
  }

  .mobile-gh-button {
    display: none;
    color: var(--text-normal) !important;
  }

  #mobile-nav-toggle {
    display: none;
  }

  @media screen and (max-width: 786px) {
    .nav-links {
      position: static;
      transform: none;
      gap: 0.5rem;
    }
  }

  @media screen and (max-width: 640px) {
    #mobile-nav-toggle {
      display: flex;
    }

    #mobile-nav-toggle .bars {
      display: block;
    }

    #mobile-nav-toggle .x-mark {
      display: none;
    }

    #mobile-nav-toggle.open .x-mark {
      display: block;
    }

    #mobile-nav-toggle.open .bars {
      display: none;
    }

    .gh-button {
      display: none;
    }

    .nav-links {
      position: absolute;
      width: 100vw;
      left: -1.5rem;
      flex-direction: column;
      padding: 1.5rem;
      background-color: color-mix(in srgb, var(--background-base) 75%, transparent 25%);
      backdrop-filter: blur(4px) !important;
      height: calc(100vh - 73px);
      top: calc(100% + 1rem + 1px);
      transition: all .3s ease;
      transform: translateY(calc(-100% - 73px));
      opacity: 0;
    }

    .nav-links a:not(.mobile-gh-button) {
      transform: translateX(-50%);
      opacity: 0;
      width: fit-content;
    }

    .nav-links.open {
      transform: translateY(0);
      opacity: 1;
    }

    .nav-links.open a:not(.mobile-gh-button) {
      transition: color .15s 0s ease, transform .3s calc(.3s + var(--i) * .1s) ease, opacity .3s calc(.3s + var(--i) * .1s) ease;
      transform: translateX(0);
      opacity: 1;
    }

    .nav-links a:not(.mobile-gh-button) {
      font-size: 1.75rem;
      font-weight: 600;
    }

    .mobile-gh-button {
      display: flex;
      width: 100%;
      margin-top: 1rem;
    }
  }
</style>
