---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getFeatureCollection } from '../utils/collectionUtils';

const features = await getFeatureCollection();
---
<BaseLayout>

    <main style="height: 70vh;">

    </main>

</BaseLayout>