---
import FeatureStack from '../components/FeatureStack.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>

    <main >

        <FeatureStack />

    </main>

</BaseLayout>