---
interface Props {
	postId: string;
	profile?: string;
}

const { profile = 'studiocms.dev', postId } = Astro.props;

const blueskyCommentsUrl = `https://bsky.app/profile/${profile}/post/${postId}`;
---

<div class="comment-box">

	<hr class="my-8" />
    <h3>Comments</h3>
    <p>Comments are powered by <a href="https://blueskyapp.com" target="_blank" rel="noopener noreferrer">BlueSky</a>.</p>
    <p>You can comment on this post by visiting the <a href={blueskyCommentsUrl} target="_blank" rel="noopener noreferrer">BlueSky page</a>.</p>

    <bluesky-comments url={blueskyCommentsUrl}>
    </bluesky-comments>
</div>

<script is:inline type="module">
import "https://esm.sh/bluesky-comments-tag/load";
</script>

<style is:global>
    bluesky-comments {
        --bluesky-bg-color: hsl(var(--background-base));
        --bluesky-text-color: hsl(var(--text-normal));
        --bluesky-border-color: hsl(var(--border));
        --bluesky-hover-bg: hsl(var(--background-step-2));
        --bluesky-handle-color: hsl(var(--primary-base));
        --bluesky-footer-text-color: hsl(var(--text-muted));
    }

    .comment-box {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        max-width: 1000px;
    }

    .comment-box h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .comment-box p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .comments {
        border-radius: 1rem !important;
    }
</style>