---
import { Icon } from 'astro-icon/components';
import { DISCORD_URL, GITHUB_URL, SPONSOR_URL } from '../constants';
---

<footer
  class="flex justify-between items-center gap-4 mx-auto px-8 py-4 border-slate-300 dark:border-neutral-800 border-t"
>
  <div class="flex justify-between items-center mx-auto container">
    <p class="font-medium text-sm md:text-base">
      StudioCMS - 2024-{new Date().getFullYear()}
    </p>
    <ul class="flex items-center gap-4">
      <li>
        <a
          class="hover:underline"
          href={DISCORD_URL}
          rel="external nofollow"
          aria-label="Discord link"
        >
          <Icon
            name="discord"
            class="w-8 h-8 hover:scale-110 transition duration-200 ease-in-out"
          />
        </a>
      </li>
      <li>
        <a
          class="hover:underline"
          href={GITHUB_URL}
          rel="external nofollow"
          aria-label="GitHub link"
        >
          <Icon
            name="github"
            class="w-8 h-8 hover:scale-110 transition duration-200 ease-in-out"
          />
        </a>
      </li>
      <li>
        <a
          class="hover:underline"
          href={SPONSOR_URL}
          rel="external nofollow"
          aria-label="Open Collective link"
        >
          <Icon
            name="opencollective"
            class="w-6 h-6 hover:scale-110 transition duration-200 ease-in-out"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
