---
// import { Icon } from 'astro-icon/components';
import Discord from '../assets/discord.svg';
import Github from '../assets/github.svg';
import Patreon from '../assets/patreon.svg';
import { DISCORD_URL, GITHUB_URL, SPONSOR_URL } from '../constants';
---

<footer
  class="px-8 py-4 mx-auto flex items-center justify-between gap-4 border-t border-slate-300 dark:border-neutral-800"
>
  <div class="container mx-auto flex items-center justify-between">
    <p class="font-medium text-sm md:text-base">
      StudioCMS - {new Date().getFullYear()}
    </p>
    <ul class="flex items-center gap-4">
      <li>
        <a
          class="hover:underline"
          href={DISCORD_URL}
          rel="external nofollow"
          aria-label="Discord link"
        >
          <Discord
            class="h-8 w-8 transition duration-200 ease-in-out hover:scale-110"
          />
        </a>
      </li>
      <li>
        <a
          class="hover:underline"
          href={GITHUB_URL}
          rel="external nofollow"
          aria-label="GitHub link"
        >
          <Github
            class="h-8 w-8 transition duration-200 ease-in-out hover:scale-110"
          />
        </a>
      </li>
      <li>
        <a
          class="hover:underline"
          href={SPONSOR_URL}
          rel="external nofollow"
          aria-label="Patreon link"
        >
          <Patreon
            class="h-6 w-6 transition duration-200 ease-in-out hover:scale-110"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
