---
import LogoAdaptive from '@/assets/logo-adaptive.svg';
import { Button } from 'studiocms:ui/components';
import GitHubLogo from '@/assets/github.svg';
import { getStudioCMSStars } from '../../utils';
const stars = await getStudioCMSStars();
---

<nav>
  <div class="nav-content">
    <a href="/" class="nav-brand">
      <LogoAdaptive height={36} width={34.32} />
      <span>StudioCMS</span>
    </a>
    <div class="nav-links">
      <a href="/blog">Blog</a>
      <a href="https://docs.studiocms.dev">Docs</a>
      <a href="/ecosystem">Ecosystem</a>
    </div>
    <div>
      <Button href='https://github.com/withstudiocms'>
        <GitHubLogo width={24} height={24} slot="start-content" />
        <span>{stars}</span>
      </Button>
    </div>
  </div>
</nav>

<style>
  nav {
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    background-color: hsla(var(--background-step-1) / .5);
    backdrop-filter: blur(2px);
    border-bottom: 1px solid hsl(var(--border));
    z-index: 50;
  }

  .nav-content {
    width: 100%;
    max-width: var(--page-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
  }

  .nav-brand span {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(var(--text-normal));
  }

  .nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
  }

  .nav-links a {
    text-decoration: none;
    color: hsl(var(--text-normal));
    transition: all .15s ease;
  }

  .nav-links a:hover {
    color: hsl(var(--primary-hover));
  }
</style>